<div> 
	<form action="/boardgamges/<%= game.id %>" method="PUT class="put-form">
	<p> 
	Name:
	</p>
	<input type='text" name="name' value="<% game.name %>"/>
	<p> 
		<button type="submit">Save</button>button
	</p>
	</form>
</div>