<h2>New Game</h2>
<div>
<form method="POST" action="/games">
  <h4>Name:</h4>
  <input type="text" name="name" placeholder="name of game...">
  <h4>Description:</h4>
  <textarea name="description" placeholder="game description..."></textarea>
  <p>
  <button type="submit">Create New</button>
  </p>
</form>
</div>
