<div>
  <h2><%= game.name %></h2>
</div>
<div>
  <p><%= game.description %></p>
</div>
<div>
  <a href="/games/<%= game.id %>/edit">Edit</a>
  <a href="/games/<%= game.id %>/delete" class="delete">Delete<a/>
</div>
