<div>
    <form action="/games/<%= game.id %>" method="put" class="put-form">
        <p>Name:</p>
        <input type="text" name="name" value="<%= game.name %>"/>
        <p>Description:</p>
        <textarea name="description"><%= game.description %></textarea>
        <button type="submit">Update</button>
    </form>
</div>
