<div>
<form action="/games>" method="POST">
  <div class="form-group">
    <input type="text" class="form-control" name="name" placeholder="Name of NEW Game...">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="descript" placeholder="Description of NEW Game...">
  </div>
  <input type="submit" class="btn btn-primary">
</form>
</div>
