doctype html
html
  head
    meta(charset='utf-8')
    title My Board Games
    link(rel='stylesheet' href='/css/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='/js/main.js')
  body
    div
      a(href='/') Home
      a(href='/games/new') Add New Game
    block content
