<div>
 	<form method="post" action="/games">
 		<input type="text" name="name" placeholder='Enter Game Name'/>
 		<input type='text' name='description' placeholder='Description'>
 		<button type="submit">Create Game</button>
 	</form>
 </div> 