<div>
	<form method="post" action="/games">
		<p>Name:</p>
		<input type="text" name="name" />
		<p>Description:</p>
		<textarea name="description"></textarea>
		<button type="submit">Create Game</button>
	</form>
</div>