<div id="gamelist">
	<form action='/games' method="post">
		<input type="text" name="game-title">
		<button type="button" id="newgame">Submit New</button>
</div>

<script src="../static/js/main.js"></script>