<h1>Add new game to your list</h1>

<form action="/games" method="POST" role="form">
  <div class="form-group">
    <label for="name" class="hidden">Name</label>
    <input type="text" class="form-control" placeholder="Game name" name="name">
  </div>

  <div class="form-group">
    <label for="description" class="hidden">Description</label>
    <textarea type="text" class="form-control" id="body" placeholder="Game description" name="description"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Add Game To Your list</button>
</form>