<h1> "Display a list to the games" </h1>

<ul>
  <li><a href="#">edit  </a><a href="#">delete  </a>Settlers of Catan</li>
  <li><a href="#">edit  </a><a href="#">delete  </a>Risk</li>
  <li><a href="#">edit  </a><a href="#">delete  </a>Stratego</li>
</ul>
