<h1> "Display a list to the games" </h1>

<div>
  <ul>
    <% for (var i=0; i < games.length; i++) { %>
      <% if (games[i]) { %>
        <li>
          <a href="/games/<%=i %>"><%= games[i].name %></a>
          <a href="/games/<%=i %>/edit">Edit</a>
          <a class="delete-link" href="/games/<%= i %>">Delete</a>
        </li>
      <% } %>
    <% } %>
  </ul>
</div>
