<h1>"return an html form for creating a new game"</h1>

<div>
  <form method="post" action="/games">
    <p>Name:</p>
    <input type="text" name="name" />
    <p>Description:</p>
    <textarea name="description"></textarea>
    <button type="submit">Create Game</button>
</div>
